#opaque {
    -fx-background-color: white;
}
.toggle-button{
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: #ffb27b;
}
#today{
    -fx-background-color: coral;
}
#horsMois {
    -fx-text-fill : grey;
}
.tilepane{
    -fx-background-color: #d4cf9c;
}
#etiquetteMoisCalendrier{
    -fx-text-fill: Orange;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 30px;
}
